<div class="container">
  <div class="content-header">
    <h2 class="mt-3">Statistics</h2>
  </div>
  <div class="card row">
    <div class="card-header">
      <h4 class="card-title">First chart</h4>
    </div>
    <div class="card-body col-xs-12">
      <x-chartist
        [type]="type"
        [data]="firstDiagramData"
        [options]="options"
        [events]="events"
      ></x-chartist>
    </div>
  </div>
  <div class="card row">
    <div class="card-header">
      <h4 class="card-title">Second chart</h4>
    </div>
    <div class="card-body col-xs-12">
      <x-chartist
        [type]="type"
        [data]="secondDiagramData"
        [options]="options"
        [events]="events"
      ></x-chartist>
    </div>
  </div>
  <div class="card">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Table</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ng2-smart-table [settings]="filtersettings" [source]="filterSource"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
